{{- if not .Values.namespaceScoped }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ template "proxless.fullname" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "proxless.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "proxless.fullname" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "proxless.fullname" . }}
rules:
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - delete
  {{- if eq .Values.cluster "OPENSHIFT" }}
  - apiGroups:
    - "apps.openshift.io"
    resources:
      - deploymentconfigs
    verbs:
      - get
      - update
      - list
  {{- else }}
  - apiGroups:
      - "apps"
    resources:
      - deployments
    verbs:
      - get
      - update
      - list
  {{- end }}
{{- end }}